<!DOCTYPE html>
<html>
    <div class="cirtxt"> <!-- style="transform: scale(-1, 1);" ==> permet de faire un miroir-->
        <div class="citxt cirtxt-rect">
            <div class="cirtxt cirtxt-txt">
                <h4>{{circontent}}</h4>
            </div>
            <button class="cirtxt cirtxt-btn"><a href="{{cirlien}}" style="text-decoration: none;color: white;">En savoir +</a></button>
        </div>
        <div class="cirtxt cirtxt-circ">
           <p>{{cirtitle}}</p>
        </div>
    </div>
</html>